  .btn {
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    box-shadow: 1px -3px 68px -38px rgba(0,0,0,0.33);
    -webkit-box-shadow: 1px -3px 68px -38px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px -3px 68px -38px rgba(0,0,0,0.33);
  }

  .btn:hover {
    background-color: darkblue;
  }

  .btn:active {
    background-color: rgb(0, 0, 73);
  }

  .btn-secondary {
    background-color: rgb(180, 178, 178);
  }

  .btn-secondary:hover {
    background-color: darkgray;
  }

  .btn-secondary:active {
    background-color: rgb(94, 94, 94);
  }

  .btn-success {
    background-color: green;
  }

  .btn-success:hover {
    background-color: darkgreen;
  }

  .btn-success:active {
    background-color: rgb(1, 59, 1);
  }

  .btn-danger {
    background-color: red;
  }

  .btn-danger:hover {
    background-color: darkred;
  }

  .btn-danger:active {
    background-color: rgb(102, 2, 2);
  }

  .btn-warning {
    background-color: rgb(209, 209, 6);
    color: black;
  }

  .btn-warning:hover {
    background-color: darkgoldenrod;
    color: black;
  }

  .btn-warning:active {
    background-color: rgb(146, 107, 10);
    color: black;
  }


.btn-info {
  background-color: lightskyblue;
  color: black;
}

.btn-info:hover {
  background-color: skyblue;
  color: black;
}

.btn-info:active {
  background-color: rgb(115, 175, 199);
  color: black;
}
