<span class ="fancy-button">Click me!</span>

<style>
  /* Write your CSS here to make the span look like a button. */

  .fancy-button {
    background-color: blue;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;

    box-shadow: 1px -3px 68px -38px rgba(0,0,0,0.33);
    -webkit-box-shadow: 1px -3px 68px -38px rgba(0,0,0,0.33);
    -moz-box-shadow: 1px -3px 68px -38px rgba(0,0,0,0.33);
  }

  .fancy-button:hover {
    background-color: darkblue;
  }

  .fancy-button:active {
    background-color: red;
  }
</style>
